* {
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Comfortaa', cursive;
    color: white;
  }


body {
  margin: auto;
  height: 100vh;
}

#text {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: 1;
  font-size: 40px;
}

#text2 {
  position: fixed;
  right: 0;
  bottom: 20vw;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: 1;
  font-size: 30px;
}

#text3 {
  position: fixed;
  right: 0;
  bottom: -20vw;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: 1;
  font-size: 30px;
}

.container {
  /* position: relative; */
  padding-left: 50vw;
  position: absolute;
}

.content {
  background: rgba(0, 0, 0, 0.0);
  z-index: 1;
}

.box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  align-content: space-between;
  position: absolute;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

a:link {
  text-decoration: none;
}


#click {
  font-size: 70px;
}

canvas {
    padding-top: 0vh;
    margin-top: 0vh;
}